.buttons button {
  background: rgb(241, 7, 85);
  font: inherit;
  border: 1px solid rgb(241, 7, 85);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
}
.buttons .button-2 {
  background: white;
  font: inherit;
  border: 1px solid rgb(241, 7, 85);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: rgb(241, 7, 85);
}

.buttons button:hover,
.buttons button:active {
  background: white;
  border: 1px solid rgb(241, 7, 85);
  color: rgb(241, 7, 85);
}
