.modal-container {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 14vh;
  left: 5%;
  z-index: 1;
  border-radius: 10px;
}

.modal-header {
  padding: 1rem;
  background: rgb(241, 7, 85);
  color: white;
}
.modal-header h1 {
  margin: 0;
  font-size: 1.25rem;
}
.modal-content {
  padding: 1rem;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
@media (min-width: 786px) {
  .modal-container {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
